<div class="contact">
  <span class="main-title"> Contact Us</span>
  <div class="form-contact">
    <form class="main-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngFor="let input of inputs" class="input">
        <label for="validationTooltip01" class="form-label">
          {{ input.label }}
        </label>
        <input
          *ngIf="!input.isNumber"
          [type]="input.type"
          class="form-control"
          id="validationTooltip01"
          matInput
          [placeholder]="input.placeholder"
          [formControlName]="input.formControlName"
          (input)="handelChange(input)"
          oninput=" this.value = this.value.replace(/[^a-zA-Z]/g, '');"
          (focusout)="isInputFocused[input.formControlName] = true"
          (focus)="isInputFocused[input.formControlName] = false"
        />

        <input
          *ngIf="input.isNumber"
          [type]="input.type"
          class="form-control"
          id="exampleFormControlInput1"
          [placeholder]="input.placeholder"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
          matInput
          [placeholder]="input.placeholder"
          [formControlName]="input.formControlName"
          (input)="handelChange(input)"
          (focusout)="isInputFocused[input.formControlName] = true"
          (focus)="isInputFocused[input.formControlName] = false"
        />
        <div
          style="color: red; white-space: nowrap"
          *ngIf="
            !inputValid[input.formControlName] &&
            form.value[input.formControlName] &&
            isInputFocused[input.formControlName]
          "
        >
          {{ input.warning }}
        </div>
      </div>
      <button
        [ngClass]="{
          'button-confirm': form.valid,
          'button-disabled': !form.valid
        }"
        [disabled]="!form.valid"
        (click)="(onSubmit)"
        type="submit"
      >
        send
      </button>
    </form>
    <span *ngIf="requestSuccessful" class="successful-message">
      Your Message sent Successfully !</span
    >
  </div>
</div>
