<div class="contact">
  <span class="main-title"> Contact Us</span>
  <div class="form-contact">
    <form class="row g-3 needs-validation" novalidate>
      <div *ngFor="let input of inputs" class="input">
        <label for="validationTooltip01" class="form-label">
          {{ input.label }}
        </label>
        <input
          *ngIf="!input.isNumber && input.type !== 'select'"
          [type]="input.type"
          class="form-control"
          id="validationTooltip01"
          [placeholder]="input.placeholder"
        />

        <input
          *ngIf="input.isNumber && input.type !== 'select'"
          [type]="input.type"
          class="form-control"
          id="exampleFormControlInput1"
          [placeholder]="input.placeholder"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
        />
        <select
          *ngIf="input.type === 'select'"
          class="custom-select"
          aria-label="Default select example"
        >
          <option selected>Select contact reason</option>
          <option value="1">Want to meet you</option>
          <option value="2">Want to ask a question</option>
          <option value="3">I would love to hear more about you</option>
        </select>
      </div>
      <div class="valid-tooltip">Looks good!</div>
      <button type="button" class="button-confirm" type="submit">send</button>
    </form>
  </div>
</div>
