@import "../../../assets/vars/vars.scss";

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;

  & .main-title {
    color: $light-green;
    font-size: 60px;
    display: block;
    margin-bottom: 20px;
    user-select: none;
    width: fit-content;
    max-width: 1200px;
  }
  .courses-container {
    display: flex;
    max-width: 1200px;

    justify-content: space-between;
    flex-direction: column;
    gap: 50px;

    .course {
      display: flex;
      justify-content: space-between;
      .course-content {
        width: 50%;
        .sub-title {
          color: $pink;
          font-size: 30px;
          display: block;
          padding-bottom: 10px;
        }
        .course-text {
          font-size: 20px;
          color: #ffffff;
        }
      }
      .course-img {
        height: 150px;
        width: 250px;
        border-radius: 15px;
      }
    }
  }
}

@media screen and (max-width: $small) {
  .education {
    padding: 20px;

    & .main-title {
      font-size: 30px;
      margin-bottom: 10px;
    }
    .courses-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 50px;
      padding: 15px;
      .course {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .course-content {
          width: 100%;
          text-align: center !important;

          .sub-title {
            font-size: 30px;
          }
          .course-text {
            font-size: 20px;
            width: 100%;
          }
          padding-bottom: 10px;
        }
        .course-img {
          height: 150px;
          border-radius: 15px;
          width: 100%;
        }
      }
    }
  }
}
