<div class="home">
  <div class="about-container">
    <div class="about-text">
      <span>Hey, My name is Eldad Yikne.</span>
      <span>I'm a Fullstack Developer.</span>
      <span>Team player and very friendly.</span>
    </div>
    <div class="about-picture">
      <img src="../../../assets/images/profile-eldad.jpg" />
    </div>
  </div>
  <div class="about-me">
    <span class="title">About me</span>
    <span class="about-me-text">
      Hi, glad you're here! My name is Eldad, I am married to Reut and father to
      Omer and Ofri. My goal is to succeed and overcome every obstacle. I
      learned Fullstack at Coding Academy. Currently I works for about a year as
      a fullstack developer in a hi-tech company in the south. I have two
      degrees in education, and in my free time I like to ride my bike, play
      music, and of course, write code 😀.</span
    >
  </div>
</div>
