/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "NanumGothic";
  src: url("./assets//fonts//NanumGothic-Regular.ttf");
}
@font-face {
  font-family: "BalsamiqSans";
  src: url("./assets//fonts//BalsamiqSans-Regular.ttf");
}

body {
  font-family: "BalsamiqSans";
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  background-color: #ffffff;
  background-image: url("/assets/images/background-stars.png");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
